<div class="modal-header">
  <h4 class="modal-title">Create new type</h4>
</div>

<div class="modal-body">
  <div class="center">
    <%= form_with(model: attribute, remote: true) do |form| %>
      <div class="login">
        <% if attribute.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(attribute.errors.count, "error") %> prohibited this attribute from being saved:</h2>
            <ul>
              <% attribute.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.hidden_field :type_id, value: @attribute_type_id %>
        </div>

        <div class="field">
          <%= form.label :name %>
          <%= form.text_field :name %>
        </div>

        <div class="red-error-message" id="message-name"></div>

        <div class="field">
          <%= form.label :numerical %>
          <%= form.text_field :numerical %>
        </div>

        <div class="red-error-message" id="message-numerical"></div>
        <div class="red-error-message" id="message-numerical-number"></div>

        <h6>Icon</h6>
        <div class="field limit_image" id="image">
          <%= attribute_avatar(attribute) %>
          <%= form.file_field :icon %>
          <img class="limit_image" id="blah" src="#" alt="Updated image"/>
        </div>

        <div class="red-error-message" id="message-icon"></div>

        <div class="actions">
          <button id="update-button">
            <%= form.submit %>
          </button>
        </div>

        </div>
    <% end %>
  </div>
</div>


<div class="modal-footer">
  <button type="button" class="btn btn-secondary" id="close-button-edit-attribute">Close</button>
</div>
