<div class="modal-header">
  <h4 class="modal-title h1-value">List of Character Attributes for Type: <%=@attribute_type_name%></h4>
</div>

<div class="modal-body">
  <p id="notice"><%= notice %></p>

  <%=paginate @attributes, remote: true %>

  <table id="attributes_table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Numerical</th>
      <th>Icon</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @attributes.each do |attribute| %>
      <%= render attribute %>
    <% end %>
    </tbody>
  </table>

  <%=paginate @attributes, remote: true %>
</div>

<div class="inner highlight-red" id="message-error-div"></div>
<div class="inner highlight-red" id="message-error-div-delete"></div>
<div class="inner highlight-red" id="message-error-div-update"></div>

<%= link_to 'New Attribute', new_attribute_path(:type_id => @attribute_type_id), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window-new-attribute', 'class'=> "new-attribute-button"} %>

<%= render 'modals' %>

<div id="modal-window-new-attribute" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered max-width-1000">
    <div class="modal-content"></div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" id="close-button-index">Close</button>
</div>



