<div class="center">
  <%= form_for(@type,  remote: true ) do |form| %>

    <div class="login">
      <h2>Edit Type</h2>
      <% if type.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(type.errors.count, "error") %> prohibited this type from being saved:</h2>

          <ul>
            <% type.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>

      <div class="field limit_image" id="image">
        <%= type_avatar(type) %>
        <%= form.label :image %>
        <%= form.file_field :image %>
        <img id="blah" src="#" alt="Updated picture"/>
      </div>

      <div class="actions style-button-edit">
        <%= form.submit %>
      </div>

    </div>
  <% end %>

  <div class="center" id="close-show-edit">
    <button class="close_button">Close</button>
  </div>


</div>

