<div class="modal-header">
  <h4 class="modal-title">Edit type</h4>
</div>
<div class="modal-body">
  <div class="center">
    <%= form_with(model: type,  remote: true ) do |form| %>
      <div class="login">
        <% if type.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(type.errors.count, "error") %> prohibited this type from being saved:</h2>

            <ul>
              <% type.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.label :name %>
          <%= form.text_field :name %>
        </div>

        <div class="red-error-message" id="message-name"></div>

        <h6>Image</h6>
        <div class="field limit_image" id="image">
          <%= type_avatar(type) %>
          <%= form.file_field :image %>
          <img class="limit_image" id="type-image-update" src="#" alt="Updated image"/>
        </div>

        <div class="actions style-button-edit">
          <button id="update-button">
            <%= form.submit %>
          </button>
        </div>

      </div>
    <% end %>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" id="close-button">Close</button>
</div>