<div class="modal-header">
  <h4 class="modal-title">Create new type</h4>
</div>
<div class="modal-body">
  <div class="center">
    <%= form_for(@type,  remote: true) do |form| %>

      <div class="login">
        <% if @type.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@type.errors.count, "error") %> prohibited this type from being saved:</h2>

            <ul>
              <% @type.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <% @type.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>

        <div class="field" >
          <%= form.label :name %>
          <%= form.text_field :name, id: "name-field",autocomplete: "name"%>
        </div>

        <div class="red-error-message" id="message-name"></div>

        <div class="field limit_image", id="image">
          <%= type_avatar(type) %>
          <%= form.label :image %>
          <%= form.file_field :image %>
          <img id="new-image-type-added" src="#" />
        </div>

        <div class="red-error-message" id="message-icon"></div>

        <div class="actions style-button-create">
          <button id="submit-button">
          <%= form.submit %>
          </button>
        </div>

      </div>
    <% end %>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" id="close-button-new-type">Close</button>
</div>